
/* 
<header>
        <nav>
            <div class="logo">Logo</div>
            <div class="menu-icon">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
     </header>

*/